
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Rajdhani:wght@300;400;500;600;700&family=Righteous&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

:root{
    --texto: "Rajdhani", serif;
    --texto1:"Righteous", serif;
    --titulos:"Bebas Neue", serif;
    --titulos1:"Audiowide", serif; 

}
.logo{
    min-width: 90%;
    max-width: 90px;
}
.titlePag{
    height: 400px;
    color: white;
    background-image:url(../assets/clay-banks-fEVaiLwWvlU-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode:darken ;
}
.itemtext{
    font-family: var(--texto1);
}
.title {
    font-family: var(--titulos1);
}
.slogan{
    font-family: var(--texto);
}
.boton{
    font-family: var(--texto);
}
.cover-small{
    height: 300px;
    background-blend-mode: normal;
}
.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0, 0.1), 0 2px 4px -1px rgba(0,0,0, 0.06);
}
.card-title{
    min-height: 3rem;
    font-weight: 400;
    font-family: var(--titulos1);
}
.card-text{
    min-height: 10rem;
    font-weight: 500;
    font-family: var(--texto);
}